body {
  margin: 0;
  font-family: "Poppins";
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: white;
}

h1, h2 {
  font-family: "Lora";
  font-weight: 500;
  color: #1E2021;
}

h1 {
  font-size: 2.2vw;
  font-weight: 550;
}

h2 {
  font-size: 1.8vw;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 6vh;
  background-color: #FCFCFC;
  min-height: 60px;
  position: relative;
}

nav #logo {
  max-width: 100%;
  margin-left: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav #language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 3.6%;
}

nav #language .language_inactive {
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
  font-weight: 300;
}

nav #language #slovak {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30%;
}

nav #language #slovak p {
  margin-right: 10%;
}

nav #language #polish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav #language #polish p {
  margin-right: 10%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5vh;
  font-weight: 300;
  font-size: 0.677vw;
}

#main-content {
  height: 89vh;
  margin: 0% 1.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main-content #map-and-info {
  width: 68.5%;
  position: relative;
}

#main-content #map-and-info #map {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  opacity: 1;
}

#main-content #map-and-info #information {
  position: absolute;
  width: 100%;
  background-color: white;
  height: 100%;
  z-index: -1;
  border-radius: 8px;
  border: 2px solid;
  opacity: 0;
  /*          #buttons {
                position: absolute;
                bottom: 0;
                z-index: 2;
                display: flex;
                height: 7%;
                width: 100%;
                color: white;
                min-height: 40px;            
                filter: drop-shadow(0px -5px 20px rgba(69, 69, 69, 0.15));
                font-size: $additional-copy;
                .btn-media {
                   display: flex;     
                   justify-content: center;
                   align-items: center;
                   background-color: #334756;
                   width: 50%;
                }
                #show-360 {
                   background-color: #44646E;
                }
                .button-icon {
                    padding: 2% 0% 0% 3%;
    
                }
            } */
}

#main-content #map-and-info #information main {
  padding: 0%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main-content #map-and-info #information main #media {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0% 3% 0%;
  border: 2px solid;
}

#main-content #map-and-info #information main #media #video {
  width: 100%;
  height: 40%;
  margin: 0% 0%;
  border: 2px solid red;
}

#main-content #map-and-info #information main #media #video #video-iframe {
  width: 100%;
  height: 84%;
  margin-bottom: auto;
}

#main-content #map-and-info #information main #media #vrview {
  width: 100%;
  height: 30%;
  border: 2px solid blue;
}

#main-content #map-and-info #information main #media #vrview iframe {
  width: 100%;
  height: 90%;
}

#main-content #map-and-info #information main #text-wrapper {
  width: 50%;
}

#main-content #map-and-info #information main #text-wrapper #back-to-map {
  width: 30px;
  height: 15px;
  background-color: black;
  cursor: pointer;
}

#main-content #map-and-info #information main #text-wrapper #icon-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main-content #map-and-info #information main #text-wrapper #icon-description .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-content #map-and-info #information main #text-wrapper #icon-description .icon div {
  padding-top: 6.5%;
}

#main-content #map-and-info #information main #text-wrapper #icon-description .icon p {
  margin-left: 10%;
  white-space: nowrap;
  font-size: 0.9vw;
}

#main-content #map-and-info #information main #text-wrapper #short-description {
  font-style: italic;
  font-size: 1vw;
  color: #25333e;
}

#main-content #map-and-info #information main #text-wrapper #long-description {
  display: block;
  font-size: 1vw;
}

#main-content #map-and-info #information main #text-wrapper #long-description p {
  color: #25333e;
}

#main-content #churches-menu {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main-content #churches-menu .activeCard {
  background-color: #3a515c;
  color: white;
}

#main-content #churches-menu .activeCard .icon p {
  color: #d5db9f;
  opacity: 1;
}

#main-content #churches-menu .church-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
  position: relative;
  -webkit-box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.09);
          box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.09);
  cursor: pointer;
}

#main-content #churches-menu .church-card .btn {
  width: 10%;
  height: 21%;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 8px 0px 4px 0px;
  background-color: #d2d6af;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}

#main-content #churches-menu .church-card .churches-menu-img {
  max-height: 7vw;
  border-radius: 8px 0px 0px 8px;
}

#main-content #churches-menu .church-card .churches-menu-information {
  margin: -1.5% 4%;
  width: 60%;
}

#main-content #churches-menu .church-card .churches-menu-information h3 {
  font-family: "Expose";
  font-size: 0.938vw;
  font-weight: 500;
  opacity: 0.83;
  letter-spacing: 0.05em;
}

#main-content #churches-menu .church-card .churches-menu-information .menu-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -6%;
}

#main-content #churches-menu .church-card .churches-menu-information .menu-icons .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.729vw;
}

#main-content #churches-menu .church-card .churches-menu-information .menu-icons .icon p {
  margin-top: 0.44vw;
  opacity: 0.7;
}

#main-content #churches-menu .church-card .churches-menu-information .menu-icons .icon svg {
  max-width: 65%;
  fill: #44646E;
}

#main-content #churches-menu .church-card .churches-menu-description {
  font-size: 0.781vw;
  font-weight: 400;
  opacity: 0.8;
  margin-top: -2.3%;
}
/*# sourceMappingURL=style.css.map */