@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  margin: 0;
  font-family: "Inter";
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: white;
}

h1, h2 {
  font-family: "Expose";
  font-weight: 500;
  color: #1E2021;
}

h1 {
  font-size: 2.2vw;
  font-weight: 500;
}

h2 {
  font-size: 1.8vw;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 6vh;
  min-height: 60px;
  position: relative;
}

nav #logo {
  max-width: 100%;
  margin-left: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav #logo img {
  width: 120px;
  margin-right: 1vw;
}

nav #language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 3.6%;
}

nav #language .language_inactive {
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
  font-weight: 300;
}

nav #language #slovak {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30%;
}

nav #language #slovak p {
  margin-right: 10%;
}

nav #language #polish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav #language #polish p {
  margin-right: 10%;
}

footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  font-weight: 300;
  font-size: 10px;
  color: #44646E;
}

#main-content {
  height: calc(100% - 100px);
  margin: 0% 1.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

#main-content #show-menu-button {
  display: none;
  /* width: 20px;
        height: 20px; */
  background-color: black;
  position: absolute;
  z-index: 4;
  right: 30px;
  top: 30px;
  padding: 0 16px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

#main-content #map-and-info {
  width: calc(100% - 420px);
  position: relative;
  -webkit-filter: drop-shadow(6px 6px 8px rgba(0, 0, 0, 0.172));
          filter: drop-shadow(6px 6px 8px rgba(0, 0, 0, 0.172));
}

#main-content #map-and-info #map {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  opacity: 1;
}

#main-content #map-and-info #information {
  position: absolute;
  width: 100%;
  background-color: white;
  height: 100%;
  z-index: -1;
  border-radius: 8px;
  opacity: 0;
  /*          #buttons {
                position: absolute;
                bottom: 0;
                z-index: 2;
                display: flex;
                height: 7%;
                width: 100%;
                color: white;
                min-height: 40px;            
                filter: drop-shadow(0px -5px 20px rgba(69, 69, 69, 0.15));
                font-size: $additional-copy;
                .btn-media {
                   display: flex;     
                   justify-content: center;
                   align-items: center;
                   background-color: #334756;
                   width: 50%;
                }
                #show-360 {
                   background-color: #44646E;
                }
                .button-icon {
                    padding: 2% 0% 0% 3%;
    
                }
            } */
}

#main-content #map-and-info #information main {
  padding: 0%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main-content #map-and-info #information main #media {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #44646E;
  margin: 0% 3% 0% 0%;
  border-radius: 8px 0px 0px 8px;
}

#main-content #map-and-info #information main #media .media-wrapper {
  width: 21vw;
  height: calc((21vw/16*9));
  background-color: #44646E;
  -webkit-filter: drop-shadow(6px 6px 8px rgba(0, 0, 0, 0.172));
          filter: drop-shadow(6px 6px 8px rgba(0, 0, 0, 0.172));
  border-radius: 8px;
}

#main-content #map-and-info #information main #media #video {
  margin: 0% 0%;
  margin-bottom: 2vw;
}

#main-content #map-and-info #information main #media #video #video-iframe {
  margin-bottom: auto;
  width: 100%;
  height: calc(21vw/16*9);
  border-radius: 8px;
}

#main-content #map-and-info #information main #media #vrview {
  /*                     width: 100%;
                    height: 30%; */
}

#main-content #map-and-info #information main #media #vrview iframe {
  width: 100%;
  height: calc(21vw/16*9);
  border-radius: 8px;
}

#main-content #map-and-info #information main #text-wrapper {
  width: 50%;
}

#main-content #map-and-info #information main #text-wrapper #back-to-map {
  /* width: 30px;
                    height: 15px;
                    background-color: black; */
  position: absolute;
  right: 2vw;
  width: 32px;
  height: 32px;
  top: 2.7vw;
  padding: 6px;
  border-radius: 100px;
  background-color: #b7bc89;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-content #map-and-info #information main #text-wrapper #back-to-map img {
  width: 24px;
}

#main-content #map-and-info #information main #text-wrapper #icon-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main-content #map-and-info #information main #text-wrapper #icon-description .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-content #map-and-info #information main #text-wrapper #icon-description .icon div {
  padding-top: 6.5%;
}

#main-content #map-and-info #information main #text-wrapper #icon-description .icon p {
  margin-left: 10%;
  white-space: nowrap;
  font-size: 0.9vw;
}

#main-content #map-and-info #information main #text-wrapper #short-description {
  font-style: italic;
  font-size: 1vw;
  color: #25333e;
}

#main-content #map-and-info #information main #text-wrapper #long-description {
  display: block;
  font-size: 1vw;
}

#main-content #map-and-info #information main #text-wrapper #long-description p {
  color: #25333e;
}

#main-content #churches-menu {
  position: relative;
  z-index: 999;
  overflow-y: auto;
  width: 400px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main-content #churches-menu .activeCard {
  background-color: #3a515c;
  color: white;
  -webkit-box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.23) !important;
          box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.23) !important;
}

#main-content #churches-menu .activeCard .icon svg {
  fill: #b7bc89 !important;
}

#main-content #churches-menu .activeCard .icon p {
  color: #e6ecac;
  opacity: 1;
}

#main-content #churches-menu .church-card {
  margin-bottom: 17px;
}

#main-content #churches-menu .church-card {
  min-height: 100px;
  height: 122px;
  width: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
  position: relative;
  -webkit-box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.09);
          box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.09);
  cursor: pointer;
}

#main-content #churches-menu .church-card .btn {
  width: 10%;
  height: 21%;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 8px 0px 4px 0px;
  background-color: #d2d6af;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}

#main-content #churches-menu .church-card .churches-menu-img {
  min-height: 100%;
  border-radius: 8px 0px 0px 8px;
}

#main-content #churches-menu .church-card .churches-menu-information {
  margin: -5px 20px;
  width: 60%;
}

#main-content #churches-menu .church-card .churches-menu-information h3 {
  font-family: "Expose";
  font-size: 14px;
  font-weight: 500;
  opacity: 0.83;
  letter-spacing: 0.05em;
  white-space: nowrap;
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
}

#main-content #churches-menu .church-card .churches-menu-information .menu-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -15px;
}

#main-content #churches-menu .church-card .churches-menu-information .menu-icons .icon:last-child {
  display: none;
}

#main-content #churches-menu .church-card .churches-menu-information .menu-icons .icon {
  margin-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main-content #churches-menu .church-card .churches-menu-information .menu-icons .icon p {
  margin-top: 10px;
  opacity: 0.7;
  font-size: 11px;
}

#main-content #churches-menu .church-card .churches-menu-information .menu-icons .icon svg {
  width: 60% !important;
  fill: #44646E;
}

#main-content #churches-menu .church-card .churches-menu-description {
  font-size: 12px;
  font-weight: 400;
  opacity: 0.8;
  margin-top: -3px;
}

.none {
  display: none !important;
}

@media screen and (max-width: 660px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav #logo img {
    width: 110px;
    margin: 1.5vw;
  }
  nav #language {
    margin-right: 10%;
  }
  #main-content {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
  }
  #main-content #show-menu-button {
    display: block;
  }
  #main-content #map-and-info {
    width: 100%;
  }
  #main-content #map-and-info #map {
    border-radius: 0;
  }
  #main-content #churches-menu {
    display: none;
    position: absolute;
    background-color: white;
    right: 0;
    width: 100vw;
    height: 89vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #main-content #churches-menu .church-card {
    width: 90%;
    height: 11.6vh;
  }
  #main-content #churches-menu .church-card .churches-menu-information .icon p {
    font-size: 11px;
  }
  footer p {
    text-align: center;
    padding: 0 5vw;
  }
}

@media screen and (max-width: 480px) {
  .churches-menu-information .menu-icons {
    display: none !important;
  }
}

@media screen and (min-width: 1500px) {
  .media-wrapper {
    width: 23vw !important;
    height: calc((23vw/16*9)) !important;
  }
  #video #video-iframe {
    width: 100% !important;
    height: calc(23vw/16*9) !important;
  }
  #vrview iframe {
    width: 100% !important;
    height: calc(23vw/16*9) !important;
    border-radius: 8px;
  }
  #churches-menu {
    width: 540px !important;
  }
  #churches-menu .church-card {
    width: 525px !important;
    height: 140px !important;
    min-height: 122px !important;
  }
  #churches-menu .church-card h3 {
    font-size: 17px !important;
  }
  #churches-menu .church-card .churches-menu-description {
    font-size: 14px !important;
  }
  #churches-menu .church-card .menu-icons .icon:last-child {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  #churches-menu .church-card .menu-icons p {
    font-size: 13px !important;
  }
  #map-and-info {
    width: calc(100% - 570px) !important;
  }
  footer {
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */