//variables

$heading1: 2.2vw;
$heading2: 1.8vw;
$copy: 1vw;
$additional-copy: 0.9vw;

$heading-color: #1E2021;


body {
    margin: 0;
    font-family: "Poppins";
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: white;
}

h1, h2 {
    font : {
        family: "Lora";
        weight: 500;      
    }
    color: $heading-color;
}


h1 {
    font : {
        size: $heading1;
        weight: 550;
    }
}

h2 {
    font-size: $heading2;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6vh;
    //border-bottom: solid 0.1px #CED0CF;
    background-color: #FCFCFC;
    min-height: 60px;
    position: relative;
    #logo {
        max-width: 100%;
        margin-left: 2%;
        display: flex;
        align-items: center;
    }
    #language {
        display: flex;
        margin-right: 3.6%;
        .language_inactive {
            filter: opacity(0.7);
            font-weight: 300;
        }
        #slovak{
            display: flex;
            align-items: center;
            margin-right: 30%;
            p {
                margin-right: 10%;
            }
        }
        #polish{
            display: flex;
            align-items: center;
            p {
                margin-right: 10%;
            }
        }

    }
}


footer {
    display: flex;
    justify-content: center;
    height: 5vh;
    font : {
        weight: 300;
        size: 0.677vw;
    }
}

#main-content {
    height: 89vh;
    margin: 0% 1.5%;
    display: flex;
    justify-content: space-between;
    #map-and-info{
        width: 68.5%;
        position: relative;
    #map {
        position: absolute;    
        z-index: 1;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        opacity: 1;
    }

    #information {
        position: absolute;
        width: 100%;
        background-color: white;
        height: 100%;
        z-index: -1;
        border-radius: 8px;
        border: 2px solid;
        opacity: 0;
        //filter: drop-shadow(6px 10px 31px rgba(0, 0, 0, 0.18));
    
        main {
            //height: 90%;
            padding: 0%;
            overflow-y: auto;
            overflow-x: hidden;
            height: 100%;
            display: flex;
            //overflow-y: auto;
            #media {
                width: 40%;
                height: 100%;  
                display: flex;
                position: sticky;
                top: 0;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 0% 3% 0%;
                border: 2px solid;
                #video {                    
                    width: 100%;
                    height: 40%;
                    margin: 0% 0%;
                    border: 2px solid red;
                 #video-iframe{
                    width: 100%;
                    height: 84%;                    
                    margin-bottom: auto;
                } 
            }
                #vrview {
                    width: 100%;
                    height: 30%;
                    border: 2px solid blue; 
                    iframe {
                        width: 100%;
                        height: 90%;
                    }
                }
            }

            #text-wrapper{
                width: 50%;
                #back-to-map{
                    width: 30px;
                    height: 15px;
                    background-color: black;
                    cursor: pointer;
                }
                #icon-description{
                    display: flex;
                    justify-content: space-between;
                    .icon {
                        display: flex;
                        align-items: center;
                        div {
                            padding-top: 6.5%;
                        }
                        p {
                            margin-left: 10%;
                            white-space: nowrap;
                            font-size: $additional-copy
                        }
                    }
                }
                #short-description {
                    font-style: italic;
                    font-size: $copy;
                    color: rgb(37, 51, 62);
                }
                #long-description{
                    display: block;
                    font-size: $copy;
                    p {color: rgb(37, 51, 62)}
                } 
                  
}


        }
/*          #buttons {
                position: absolute;
                bottom: 0;
                z-index: 2;
                display: flex;
                height: 7%;
                width: 100%;
                color: white;
                min-height: 40px;            
                filter: drop-shadow(0px -5px 20px rgba(69, 69, 69, 0.15));
                font-size: $additional-copy;
                .btn-media {
                   display: flex;     
                   justify-content: center;
                   align-items: center;
                   background-color: #334756;
                   width: 50%;
                }
                #show-360 {
                   background-color: #44646E;
                }
                .button-icon {
                    padding: 2% 0% 0% 3%;
    
                }
            } */
    }

}
    #churches-menu{
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .activeCard {
            background-color: rgba(58, 81, 92, 1);
            color: white;
            .icon {
                p{
                    color: rgb(213, 219, 159);
                    opacity: 1;
                }
            }
        }
        .church-card {
            //height: auto;
            width: 100%;
            //border: 2px solid black;
            display: flex;
            border-radius: 8px;
            position: relative;
            box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.09);
            cursor: pointer;
            .btn {
                width: 10%;
                height: 21%;
                position: absolute;
                bottom: 0;
                right: 0;
                border-radius: 8px 0px 4px 0px;
                background-color: rgba(210, 214, 175, 1);
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;

            }
            .churches-menu-img {
                max-height: 7vw;
                border-radius: 8px 0px 0px 8px;

            }
            .churches-menu-information{
                margin: -1.5% 4%;
                width: 60%;
               
                h3{
                    font : {
                    family: "Expose";
                    size: 0.938vw;
                    weight: 500;
                    }
                    opacity: 0.83;
                    letter-spacing: 0.05em;
                }
                .menu-icons {
                    display: flex;
                    justify-content: space-between;
                    //width: %;
                    margin-top: -6%;
                    .icon {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        p {
                            margin-top: 0.44vw;
                        opacity: 0.7;
                        }
                        svg {
                            max-width: 65%;
                            fill: #44646E;
                        }
                        font : {
                            size: 0.729vw;
                        }
                        }
                    }
                }
                .churches-menu-description {
                    font: {
                        size: 0.781vw;
                        weight: 400
                    }
                    opacity: 0.8;
                    margin-top: -2.3%;
                }
            }
        }
        
    }



