//fonts



@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

//variables
$heading1: 2.2vw;
$heading2: 1.8vw;
$copy: 1vw;
$additional-copy: 0.9vw;

$heading-color: #1E2021;




body {
    margin: 0;
    font-family: "Inter";
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: white;
}

h1, h2 {
    font : {
        family: "Expose";
        weight: 500;      
    }
    color: $heading-color;
}


h1 {
    font : {
        size: $heading1;
        weight: 500;
    }
}

h2 {
    font-size: $heading2;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6vh;
    //border-bottom: solid 0.1px #CED0CF;
    //background-color: #FCFCFC;
    min-height: 60px;
    position: relative;
    #logo {
        max-width: 100%;
        //width: 19%;
        margin-left: 2%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
            width: 120px;
            margin-right: 1vw;
        }        
    }
    #language {
        display: flex;
        margin-right: 3.6%;
        .language_inactive {
            filter: opacity(0.7);
            font-weight: 300;
        }
        #slovak{
            display: flex;
            align-items: center;
            margin-right: 30%;
            p {
                margin-right: 10%;
            }
        }
        #polish{
            display: flex;
            align-items: center;
            p {
                margin-right: 10%;
            }
        }

    }
}


footer {
    position: relative;
   // z-index: -333;
    display: flex;
    justify-content: center;
    height: 50px;
    font : {
        weight: 300;
        
    }
    font-size: 10px;
    color: #44646E;
}

#main-content {
        height: calc(100% - 100px);
    margin: 0% 1.5%;
    display: flex;
    justify-content: space-between;
    position: relative;
    //z-index: 999;
    #show-menu-button{
        display: none;
        /* width: 20px;
        height: 20px; */
        background-color: black;
        position: absolute;
        z-index: 4;
        right: 30px;
        top: 30px;
        padding: 0 16px;
        color: white;
        border-radius: 8px;
        cursor: pointer;
    }
    #map-and-info{
        width: calc(100% - 420px);
        position: relative;
        filter: drop-shadow(6px 6px 8px rgba(0, 0, 0, 0.172));
    #map {
        position: absolute;    
        z-index: 1;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        opacity: 1;
    }

    #information {
        position: absolute;
        min-width: 370px;
        width: 100%;
        background-color: white;
        height: 100%;
        z-index: -1;
        border-radius: 8px;
        //border: 2px solid;
        opacity: 0;
        //filter: drop-shadow(6px 10px 31px rgba(0, 0, 0, 0.18));
    
        main {
            //height: 90%;
            padding: 0%;
            overflow-y: auto;
            overflow-x: hidden;
            height: 100%;
            display: flex;
            //overflow-y: auto;
            #media {
                width: 40%;
                height: 100%;  
                display: flex;
                position: sticky;
                top: 0;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: #44646E;
                margin: 0% 3% 0% 0%;
                border-radius: 8px 0px 0px 8px;
                //border: 2px solid;
                .media-wrapper{
                    width: 21vw;
                    height: calc((21vw/16*9));
                    background-color: #44646E;
                    filter: drop-shadow(6px 6px 8px rgba(0, 0, 0, 0.172));
                    border-radius: 8px;
                }
                #video {                    
                    margin: 0% 0%;
                    margin-bottom: 2vw;
                    //border: 2px solid red;

                    //width: 100%;
                 #video-iframe{
                    margin-bottom: auto;
                    //height: 40%;
                    width: 100%;
                    height: calc(21vw/16*9);
                    border-radius: 8px;


                } 
            }
                #vrview {

                    iframe {
                        width: 100%;
                        height: calc(21vw/16*9);
                        border-radius: 8px;


                    }
                }
            }

            #text-wrapper{
                width: 50%;
                #back-to-map{
                    /* width: 30px;
                    height: 15px;
                    background-color: black; */
                    position: absolute;
                    right: 2vw;
                    width: 1vw;
                    height: 1vw;
                    top: 2.4vw;
                    padding: 6px;
                    border-radius: 100px;
                    background-color: rgb(183, 188, 137);
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 0.7vw;
                    }
                }
                #icon-description{
                    display: flex;
                    justify-content: space-between;
                    margin-top: -1vw;
                    width: 90%;
                    .icon {
                        display: flex;
                        align-items: center;
                        svg {
                            width: 1.5vw;
                            fill: #2f454c;
                        }
                        div {
                            padding-top: 6.5%;
                        }
                        p {
                            color: #2f454c;
                            margin-left: 10%;
                            white-space: nowrap;
                            font-size: $additional-copy
                        }
                    }
                }
                #short-description {
                    font-style: italic;
                    font-size: $copy;
                    color: rgb(37, 51, 62);
                }
                #long-description{
                    display: block;
                    font-size: $copy;
                    p {color: rgb(37, 51, 62)}
                } 
                  
}


        }
    }


    
}
#mobile-media {
    background-color: yellow;
    border: 2px blue;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: none;
    .media-wrapper{
        width: 35vw;
        height: calc((35vw/16*9));
        background-color: #44646E;
        filter: drop-shadow(6px 6px 8px rgba(0, 0, 0, 0.172));
        border-radius: 8px;
    }
    #video {                    
        margin: 0% 0%;
        margin-bottom: 20px;
     #video-iframe{
        margin-bottom: auto;
        //height: 40%;
        width: 100%;
        height: calc(21vw/16*9);
        border-radius: 8px;
    } 
}
    #vrview {
        iframe {
            width: 100%;
            height: calc(21vw/16*9);
            border-radius: 8px;
        }
    }
}
    #churches-menu{
        position: relative;
        z-index: 999;
        overflow-y: auto;
        width: 400px;
        height: 100%;
        display: flex;
        flex-direction: column;
        .activeCard {
            background-color: rgba(58, 81, 92, 1);
            color: white;
            box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.23) !important;
            .icon {
                svg {
                    fill:rgb(183, 188, 137) !important;
                }
                p{
                    color: rgb(230, 236, 172);
                    opacity: 1;
                }
            }
        }

        .church-card {
            min-height: 100px;
            height: 122px;
            width: 390px;
            display: flex;
            border-radius: 8px;
            position: relative;
            box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.09);
            margin-bottom: 17px;
            cursor: pointer;
            .btn {
                width: 10%;
                height: 21%;
                position: absolute;
                bottom: 0;
                right: 0;
                border-radius: 8px 0px 4px 0px;
                background-color: rgba(210, 214, 175, 1);
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
            }
            .churches-menu-img {
                min-height: 100%;
                border-radius: 8px 0px 0px 8px;
            }
            .churches-menu-information{
                margin: -5px 20px;
                width: 60%;
                h3{
                    font : {
                    family: "Expose";
                    size: 14px;
                    weight: 500;
                    }
                    opacity: 0.83;
                    letter-spacing: 0.05em;
                    white-space: nowrap; 
                    width: 95%; 
                    overflow: hidden;
                    text-overflow: ellipsis; 
                }
                .menu-icons {
                    display: flex;
                    margin-top: -15px;
                    .icon:last-child {
                        display: none;
                    }
                    .icon {
                        margin-right: 25px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        p {
                            margin-top: 10px;
                        opacity: 0.7;
                        font-size: 11px;
                        }
                        svg {
                            width: 16px !important;
                            fill: #44646E;
                        }
                        svg {
                            margin-right: 11px;
                        }
                        }
                    }
                }
                .churches-menu-description {
                    font: {
                        size: 12px;
                        weight: 400
                    }
                    opacity: 0.8;
                    margin-top: -3px;
                }
            }
        }
        #close-menu{
            justify-content: center;
            align-items: center;
            background-color: #3a515c;
            color: white;
            min-height: 40px !important;
            height: 60px !important;
            margin-top: 20px;
            width: 90%;
            display: none;
            border-radius: 8px;
            position: relative;
            box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.09);
            margin-bottom: 17px;
            cursor: pointer;
        }
    }

    //MEDIA 860px
    @media screen and (max-width: 860px) {
        body {
        display: flex;
         flex-direction: column;
        }
        nav{
            #logo {
                img{
                    width: 110px;
                    margin: 1.5vw
                }
            }
            #language{
                margin-right: 10%
            }
        }
        #main-content{
            width: 100vw;
            margin-left: auto;
            margin-right: auto;
            #show-menu-button{
                display: block;
            }
            #map-and-info{
                width: 100%;
                 #map {
                    border-radius: 0;
                } 
                #icon-description{
                    svg{
                        width: 16px !important;
                    }
                }
            }
            #churches-menu{
                display: none;                
                position: absolute;
                background-color: white;
                right: 0;   
                width: 100vw;
                height: 89vh;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                #close-menu{
                    display: flex;
                }
                .church-card{
                    width: 90%;
                    height: 11.6vh;
                    .churches-menu-information{
                        .menu-icons {

                            .icon:last-child {
                                display: flex !important;
                            }
/*                             p{
                                font-size: 13px !important;
                            } */
                        }
                        .icon {
                            p{
                                font-size: 11px;
                            }
                        }
                    }
                }
        }
      }
      footer {
        p{
            //font-size: 2vw;
            text-align: center;
            padding: 0 5vw;
        }
    }
    }

    //MEDIA 480px
    @media screen and (max-width: 480px) {
        nav{
            #logo {
                img{
                    width: 90px;
                    margin: 1.3vw
                }
            }
            #language{
                margin-right: 10%;
                font-size: 14px;
            }
        }

        .churches-menu-information{
            .menu-icons{ 
                display: none !important;            
            }
           
        }

        #icon-description{
            justify-content: flex-start;
            .icon:not(:last-child){
                margin-right: 30px;
            }
        }
    }

    //MEDIA 1500px
    @media screen and (min-width: 1500px) {

        .media-wrapper{
            width: 23vw !important;
            height: calc((23vw/16*9)) !important;
        }
        #video {                    

         #video-iframe{
            //height: 40%;
            width: 100% !important;
            height: calc(23vw/16*9) !important;
        } 
    }
        #vrview {
            iframe {
                width: 100% !important;
                height: calc(23vw/16*9) !important;
                border-radius: 8px;
            }
        }

        #churches-menu {
            width: 540px !important;
            .church-card {
                width: 525px !important;
                height: 140px !important;
                min-height: 122px !important;
                h3 {
                    font-size: 17px !important;
                }
                .churches-menu-description {
                    font-size: 14px !important;
                }
                .menu-icons {
                    .icon:last-child {
                        display: flex !important;
                    }
                    p{
                        font-size: 13px !important;
                    }
                }
            }
        }

        #map-and-info {
            width: calc(100% - 570px) !important;
        }

        footer {
            font-size: 12px;
        }

        #church-name{
            font-size: 2vw;
        }

        #long-description{
            h2{
            font-size: 1.6vw;
            }
        }
        #long-description-paragraph{
            font-size: 0.9vw;
        }

        #short-description {
            font-size: 0.9vw !important;
        }

        #back-to-map {
            right: 2vw;
            width: 1vw;
            height: 1vw;
            top: 2.7vw;
        }
    }

    @media screen and (max-width: 1130px) {
        #media {
            display: none !important;
        }
        #mobile-media {display: flex !important;}
        #information{
            main {
                display: flex;
                justify-content: center;
                #text-wrapper {
                    width: 90% !important;
                    #church-name {
                        font-size: 24px !important;
                    }
                    p{
                        font-size: 13px !important;
                    }
                    #icon-description p {
                        font-size: 12px !important;
                    }
                    h2 {
                        font-size: 21px !important;
                    }
                }
            }
        }
    }

