//fonts



@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

//variables
$heading1: 2.2vw;
$heading2: 1.8vw;
$copy: 1vw;
$additional-copy: 0.9vw;

$heading-color: #1E2021;


body {
    margin: 0;
    font-family: "Inter";
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: white;
}

h1, h2 {
    font : {
        family: "Expose";
        weight: 500;      
    }
    color: $heading-color;
}


h1 {
    font : {
        size: $heading1;
        weight: 500;
    }
}

h2 {
    font-size: $heading2;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6vh;
    //border-bottom: solid 0.1px #CED0CF;
    background-color: #FCFCFC;
    min-height: 60px;
    position: relative;
    #logo {
        max-width: 100%;
        //width: 19%;
        margin-left: 2%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
            width: 120px;
            margin-right: 1vw;
        }        
    }
    #language {
        display: flex;
        margin-right: 3.6%;
        .language_inactive {
            filter: opacity(0.7);
            font-weight: 300;
        }
        #slovak{
            display: flex;
            align-items: center;
            margin-right: 30%;
            p {
                margin-right: 10%;
            }
        }
        #polish{
            display: flex;
            align-items: center;
            p {
                margin-right: 10%;
            }
        }

    }
}


footer {
    display: flex;
    justify-content: center;
    height: 5vh;
    font : {
        weight: 300;
        size: 0.677vw;
    }
}

#main-content {
    height: 89vh;
    margin: 0% 1.5%;
    display: flex;
    justify-content: space-between;
    #show-menu-button{
        display: none;
        /* width: 20px;
        height: 20px; */
        background-color: black;
        position: absolute;
        z-index: 4;
        right: 30px;
        top: 30px;
        padding: 0 16px;
        color: white;
        border-radius: 8px;
        cursor: pointer;
    }
    #map-and-info{
        width: calc(100% - 420px);
        position: relative;
        filter: drop-shadow(6px 6px 8px rgba(0, 0, 0, 0.172));
    #map {
        position: absolute;    
        z-index: 1;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        opacity: 1;
    }

    #information {
        position: absolute;
        width: 100%;
        background-color: white;
        height: 100%;
        z-index: -1;
        border-radius: 8px;
        border: 2px solid;
        opacity: 0;
        //filter: drop-shadow(6px 10px 31px rgba(0, 0, 0, 0.18));
    
        main {
            //height: 90%;
            padding: 0%;
            overflow-y: auto;
            overflow-x: hidden;
            height: 100%;
            display: flex;
            //overflow-y: auto;
            #media {
                width: 40%;
                height: 100%;  
                display: flex;
                position: sticky;
                top: 0;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 0% 3% 0%;
                border: 2px solid;
                #video {                    
                    width: 100%;
                    height: 40%;
                    margin: 0% 0%;
                    border: 2px solid red;
                 #video-iframe{
                    width: 100%;
                    height: 84%;                    
                    margin-bottom: auto;
                } 
            }
                #vrview {
                    width: 100%;
                    height: 30%;
                    border: 2px solid blue; 
                    iframe {
                        width: 100%;
                        height: 90%;
                    }
                }
            }

            #text-wrapper{
                width: 50%;
                #back-to-map{
                    width: 30px;
                    height: 15px;
                    background-color: black;
                    cursor: pointer;
                }
                #icon-description{
                    display: flex;
                    justify-content: space-between;
                    .icon {
                        display: flex;
                        align-items: center;
                        div {
                            padding-top: 6.5%;
                        }
                        p {
                            margin-left: 10%;
                            white-space: nowrap;
                            font-size: $additional-copy
                        }
                    }
                }
                #short-description {
                    font-style: italic;
                    font-size: $copy;
                    color: rgb(37, 51, 62);
                }
                #long-description{
                    display: block;
                    font-size: $copy;
                    p {color: rgb(37, 51, 62)}
                } 
                  
}


        }
/*          #buttons {
                position: absolute;
                bottom: 0;
                z-index: 2;
                display: flex;
                height: 7%;
                width: 100%;
                color: white;
                min-height: 40px;            
                filter: drop-shadow(0px -5px 20px rgba(69, 69, 69, 0.15));
                font-size: $additional-copy;
                .btn-media {
                   display: flex;     
                   justify-content: center;
                   align-items: center;
                   background-color: #334756;
                   width: 50%;
                }
                #show-360 {
                   background-color: #44646E;
                }
                .button-icon {
                    padding: 2% 0% 0% 3%;
    
                }
            } */
    }

}
    #churches-menu{
        width: 400px;
        height: 100%;
        display: flex;
        //justify-content: space-between;
        flex-direction: column;
        .activeCard {
            background-color: rgba(58, 81, 92, 1);
            color: white;
            box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.23) !important;
            .icon {
                svg {
                    fill:rgb(183, 188, 137) !important;
                }
                p{
                    color: rgb(230, 236, 172);
                    opacity: 1;
                }
            }
        }
        .church-card:not(:last-child) {
            margin-bottom: 2vh;
        }
        .church-card {
            height: 12.61vh;
            width: 400px;
            border: 2px solid black;
            display: flex;
            border-radius: 8px;
            position: relative;
            box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.09);
            cursor: pointer;
            .btn {
                width: 10%;
                height: 21%;
                position: absolute;
                bottom: 0;
                right: 0;
                border-radius: 8px 0px 4px 0px;
                background-color: rgba(210, 214, 175, 1);
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;

            }
            .churches-menu-img {
                min-height: 100%;
                border-radius: 8px 0px 0px 8px;

            }
            .churches-menu-information{
                margin: -5px 20px;
                width: 60%;
               
                h3{
                    font : {
                    family: "Expose";
                    size: 14px;
                    weight: 500;
                    }
                    opacity: 0.83;
                    letter-spacing: 0.05em;
                }
                .menu-icons {
                    display: flex;
                    justify-content: space-between;
                    //width: %;
                    margin-top: -15px;
                    .icon {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        p {
                            margin-top: 10px;
                        opacity: 0.7;
                        font-size: 11px;
                        }
                        svg {
                            width: 60% !important;
                            fill: #44646E;
                        }
                        font : {
                            //size: 0.729vw;
                        }
                        }
                    }
                }
                .churches-menu-description {
                    font: {
                        size: 12px;
                        weight: 400
                    }
                    opacity: 0.8;
                    margin-top: -3px;
                }
            }
        }
        
    }

    .none {
        display: none !important;
    }



 /*    @media screen and (max-width: 1100px) {
        body {
        display: flex;
         flex-direction: column;
         //align-items: center;
        }
        #main-content{
            width: 96vw;
            margin-left: auto;
            margin-right: auto;
            #show-menu-button{
                display: block;
            }
            #map-and-info{
                width: 100%
            }
            #churches-menu{
                //display: none;                
                position: absolute;
                background-color: white;
                right: 0;   
                height: 89vh;
                margin-right: 2vw;  
                //display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .church-card{
                    width: 90%;
                    height: 11.6vh;
                }

            }
        } 

        footer {
            font-size: 1vw;
        }
    }*/
    @media screen and (max-width: 660px) {
        body {
        display: flex;
         flex-direction: column;
         //align-items: center;
        }
        nav{
            #logo {
                img{
                    width: 110px;
                    margin: 1.5vw
                }
            }
            #language{
                margin-right: 10%
            }
        }
        #main-content{
            width: 100vw;
            margin-left: auto;
            margin-right: auto;
            #show-menu-button{
                display: block;
            }
            #map-and-info{
                width: 100%
            }
            #churches-menu{
                display: none;                
                position: absolute;
                background-color: white;
                right: 0;   
                width: 100vw;
                height: 89vh;
                //margin-right: 2vw;  
                //display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .church-card{
                    width: 90%;
                    height: 11.6vh;
                    .churches-menu-information{
                        .icon {
                            p{
                                font-size: 11px;
                            }
                        }
                    }
                }
        }

        footer {
            font-size: 1.877vw;
            text-align: center;
            padding: 0 5vw;
        }
      }
    }


    @media screen and (min-width: 1500px) {
        #churches-menu {
            width: 540px !important;
            .church-card {
                width: 540px !important;
                h3 {
                    font-size: 17px !important;
                }
                .churches-menu-description {
                    font-size: 14px !important;
                }
                .menu-icons {
                    p{
                        font-size: 13px !important;
                    }
                }
            }
        }

        #map-and-info {
            width: calc(100% - 570px) !important;
        }
    }



